---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url | remove_first: '/'}}">
        {{ post.title }}
      </a>
    </h2>

    <span class="post-date">{{ post.date | date_to_string }}</span>
    <img class="right" src="{{ site.img_dir | append: post.image | absolute_url }}"/>
    {{ post.excerpt | strip_html | truncatewords:75}}
    <hr/>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Ancien</a>
  {% else %}
    <span class="pagination-item older">Ancien</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Nouveau</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Nouveau</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Nouveau</span>
  {% endif %}
</div>